@font-face {
    font-family: "source_code_pro";
    src: url("../font/SourceCodePro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "source_code_pro";
    src: url("../font/SourceCodePro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "source_code_pro";
    src: url("../font/SourceCodePro-It.otf");
    font-weight: normal;
    font-style: italic;
}
html {
    font-family: source_code_pro,monospace;
    font-size: 20px;
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
ul, ol {
    margin-left: 1em;
}
main {
    height: 100%;
    margin-left: 1em;
}
main > article {
    width: 75%;
    height: 100%;
    overflow-y: scroll;
    float: left;
}
main > nav {
    width: 25%;
    height: 100%;
    overflow-y: scroll;
}
nav ul {
    margin: 0;
    padding: 0 0 0 1em;
}
nav.article a {
    color: inherit;
    text-decoration: none;
}
.dark nav.article a {
    color: #777777;
}
.dark nav.article a:visited {
    color: #777777;
}
.dark nav.article a.active {
    color: inherit;
}
.light nav.article a {
    color: #555555;
}
.light nav.article a:visited {
    color: #555555;
}
.light nav.article a.active {
    color: inherit;
}
.dark {
    background-color: black;
    color: lightgray;
}
.dark a {
    color: lightblue;
}
.dark a:visited {
    color: mediumpurple;
}
.light {
    background-color: lightgray;
    color: black;
}
button, input, select {
    background-color: inherit;
    color: inherit;
}
.capitalize {
    text-transform: capitalize;
}
button.bigger {
    font-size: 28px;
}
button.smaller {
    font-size: 10px;
}
div.calendar-data {
    margin: 4em 0;
}
