@font-face {
    font-family: "source_code_pro";
    src: url("../font/SourceCodePro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "source_code_pro";
    src: url("../font/SourceCodePro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "source_code_pro";
    src: url("../font/SourceCodePro-It.otf");
    font-weight: normal;
    font-style: italic;
}
html {
    font-family: source_code_pro,monospace;
    font-size: 20px;
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.dark {
    background-color: black;
    color: lightgray;
}
.dark a {
    color: lightblue;
}
.dark a:visited {
    color: mediumpurple;
}
.light {
    background-color: lightgray;
    color: black;
}
button, input, select {
    background-color: inherit;
    color: inherit;
}
th, td {
    padding: 0 2em;
}
