@font-face {
    font-family: "source_code_pro";
    src: url("../font/SourceCodePro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "source_code_pro";
    src: url("../font/SourceCodePro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "source_code_pro";
    src: url("../font/SourceCodePro-It.otf");
    font-weight: normal;
    font-style: italic;
}
html {
    font-family: source_code_pro,monospace;
    font-size: 20px;
}
.dark {
    background-color: black;
    color: lightgray;
}
.light {
    background-color: lightgray;
    color: black;
}

.animation-container {
    background-color: black;
    color: lightgray;
    width: 400px;
    height: 400px;
    position: relative;
    border: 1px solid gray;
    overflow: hidden;
}
.stellar-body {
    border-radius: 50%;
    position: absolute;
}
.stars .star.sun {
    background-color: white;
}
.stars .star {
    background-color: gray;
}
.sun {
    width: 20px;
    height: 20px;
    left: 93px;
    top: 273px;
}
@keyframes rotation {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}
.atmosphere {
    width: 250px;
    height: 250px;
    left: 75px;
    top: 75px;
    background-image: radial-gradient(blue 0%, transparent 100%);
}
.earth-night {
    background-color: darkgreen;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
}
/*.stars {*/
/*    animation-name: rotation;*/
/*    animation-duration: 20s;*/
/*    animation-iteration-count: infinite;*/
/*    animation-timing-function: linear;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    transform-origin: center;*/
/*    width: 100%;*/
/*}*/
.earth-day {
    background-color: lightgreen;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
    clip-path: inset(0px 100px 0px 0px);
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.indicator {
    position: absolute;
    width: 6px;
    height: 40px;
    background-color: lightgray;
    left: 197px;
    top: 60px;
}
.shadow {
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: black;
    left: 160px;
    top: 97px;
    transform-origin: right center;
    animation-name: shadow-sweep;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes shadow-sweep {
    from { transform: rotate(180deg) scaleX(2); opacity: 0; }
    0.5% { opacity: 1; }
    25% { transform: rotate(270deg) scaleX(0.25); opacity: 1; }
    49.5% { opacity: 1; }
    50% { transform: rotate(360deg) scaleX(2); opacity: 0; }
    to { transform: rotate(180deg) scaleX(2); opacity: 0; }
}
.sunrise {
    position: absolute;
    left: 10px;
    top: 190px;
}
.morning {
    position: absolute;
    left: 25px;
    top: 75px;
}
.midday {
    position: absolute;
    left: 200px;
    top: 10px;
}
.evening {
    position: absolute;
    right: 10px;
    top: 75px;
}
.sunset {
    position: absolute;
    right: 10px;
    top: 190px;
}
.midnight {
    position: absolute;
    left: 200px;
    bottom: 10px;
}

.four-sundials {
    background-color: black;
    color: lightgray;
    width: 400px;
    height: 400px;
    position: relative;
    border: 1px solid gray;
    overflow: hidden;
}
.stars {
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 566px; /* 400 * sqrt(2) */
    left: -83px; /* (400 - 566) / 2 */
    position: absolute;
    top: -83px;
    transform-origin: center;
    width: 566px;
}
.four-sundials .indicator {
    position: absolute;
    background-color: lightgray;
}
.four-sundials .indicator.left {
    width: 40px;
    height: 6px;
    top: 197px;
    left: 60px;
}
.four-sundials .shadow {
    position: absolute;
    background-color: black;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /*outline: 1px solid yellow;*/
}
.four-sundials .indicator.up {
    height: 40px;
    left: 197px;
    top: 60px;
    width: 6px;
}
.four-sundials .shadow.up {
    animation-name: shadow-up;
    height: 6px;
    left: 160px;
    top: 97px;
    transform-origin: right center;
    width: 40px;
}
@keyframes shadow-up {
    from { transform: rotate(180deg) scaleX(2); opacity: 0; }
    0.5% { opacity: 1; }
    25% { transform: rotate(270deg) scaleX(0.25); }
    49.5% { opacity: 1; }
    50% { transform: rotate(360deg) scaleX(2); opacity: 0; }
    to { transform: rotate(180deg) scaleX(2); opacity: 0; }
}
.four-sundials .indicator.right {
    height: 6px;
    left: 300px;
    top: 197px;
    width: 40px;
}
.four-sundials .shadow.right {
    animation-name: shadow-right;
    height: 40px;
    left: 300px;
    top: 200px;
    transform-origin: top center;
    width: 6px;
}
@keyframes shadow-right {
    from { transform: rotate(0deg) scaleY(2); opacity: 0; }
    24.5% { opacity: 0 }
    25% { transform: rotate(0deg) scaleY(2); opacity: 1; }
    50% { transform: rotate(90deg) scaleY(0.25); }
    74.5% { opacity: 1; }
    75% { transform: rotate(180deg) scaleY(2); opacity: 0; }
    to { transform: rotate(180deg) scaleY(2); opacity: 0; }
}
.four-sundials .indicator.down {
    width: 6px;
    height: 40px;
    left: 197px;
    top: 300px;
}
.four-sundials .shadow.down {
    animation-name: shadow-down;
    height: 6px;
    left: 160px;
    top: 300px;
    transform-origin: right center;
    width: 40px;
}
@keyframes shadow-down {
    from { transform: rotate(0deg) scaleX(2); opacity: 0; }
    49.5% { opacity: 0; }
    50% { transform: rotate(0deg) scaleX(2); opacity: 1; }
    75% { transform: rotate(90deg) scaleX(0.25); }
    99.9% { opacity: 1 }
    to { transform: rotate(180deg) scaleX(2); opacity: 0; }
}
.four-sundials .indicator.left {
    width: 40px;
    height: 6px;
    top: 197px;
    left: 60px;
}
.four-sundials .shadow.left {
    animation-name: shadow-left;
    height: 40px;
    left: 97px;
    top: 160px;
    transform-origin: bottom center;
    width: 6px;
}
@keyframes shadow-left {
    from { transform: rotate(90deg) scaleY(0.25); opacity: 1; }
    24.5% { opacity: 1 }
    25% { transform: rotate(180deg) scaleY(2); opacity: 0; }
    74.5% { opacity: 0; }
    75% { transform: rotate(0deg) scaleY(2); opacity: 1; }
    to { transform: rotate(90deg) scaleY(0.25); opacity: 1; }
}

.axial-tilt .ecliptic, .great-circles .ecliptic {
    position: absolute;
    border-bottom: 1px solid gray;
    width: 100%;
    height: 50%;
}
.axial-tilt .stars, .great-circles .stars {
    animation-name: none;
}
/*.axial-tilt .sun {*/
/*    animation-name: sun-apparent;*/
/*    animation-duration: 20s;*/
/*    animation-iteration-count: infinite;*/
/*    animation-timing-function: ease;*/
/*}*/
/*@keyframes sun-apparent {*/
/*    from { left: 93px; }*/
/*    50% { left: 453px; }*/
/*    to { left: 93px; }*/
/*}*/

.axial-tilt .earth-container, .great-circles .earth-container {
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
}

.axial-tilt .earth-container {
    animation-name: tilt-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes tilt-animation {
    from { transform: rotate(0deg) }
    25% { transform: rotate(-23.4deg) }
    50% { transform: rotate(0deg) }
    75% { transform: rotate(23.4deg) }
    to { transform: rotate(0deg) }
}

.axial-tilt .earth-night, .great-circles .earth-night {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}
.axial-tilt .earth-day, .great-circles .earth-day {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    animation-name: none;
}
.axial-tilt .earth-day {
    animation-name: anti-tilt-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes anti-tilt-animation {
    from { transform: rotate(0deg) }
    25% { transform: rotate(23.4deg) }
    50% { transform: rotate(0deg) }
    75% { transform: rotate(-23.4deg) }
    to { transform: rotate(0deg) }
}
.axial-tilt .atmosphere, .great-circles .atmosphere {
    left: -25px;
    top: -25px;
}
.major-circle {
    border-bottom: 1px solid white;
    margin-bottom: -1px;
    /*transform: translateZ(0);*/
}

.arctic-circle {
    /* 66°33′49.3″ 66.563694 degrees  1.1617556225899943 radians  sin(radians) = 0.9175027850207164  (1 - 0.9175027) * 100 = 8.24973  */
    height: 8px;
}

.tropic-of-cancer {
    /* 23.43631 degrees  0.40904077401807226 radians  sin(radians) = 0.3977294186144243  (1 - _) * 100 = 60.227  60 - 8 = 52  */
    height: 52px;
}

.equator {
    /* 100 - 60 = 40 */
    height: 40px;
}

.tropic-of-capricorn {
    height: 39px;
}

.antarctic-circle {
    height: 52px;
}

.axial-tilt .labels, .great-circles .labels {
    position: relative;
    width: 100%;
    height: 100%;
}
.axial-tilt .labels div, .great-circles .labels div {
    position: absolute;
}

.arctic-label {
    left: 50%;
    top: 75px;
}
.arctic-label.day {
    animation-name: arctic-0;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.antarctic-label.night {
    animation-name: arctic-0;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.arctic-label.night {
    animation-name: arctic-1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.antarctic-label.day {
    animation-name: arctic-1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes arctic-0 {
    from { opacity: 1; }
    49.5% { opacity: 1; }
    50% { opacity: 0; }
    99.5% { opacity: 0; }
    to { opacity: 1; }
}
@keyframes arctic-1 {
    from { opacity: 0; }
    49.5% { opacity: 0; }
    50% { opacity: 1; }
    99.5% { opacity: 1; }
    to { opacity: 0; }
}

.arctic-circle-label {
    left: 210px;
    top: 85px;
}

.cancer-circle-label {
    left: 210px;
    top: 135px;
}

.northern-hemisphere-label {
    left: 290px;
    top: 130px;
}

.equator-circle-label {
    left: 210px;
    top: 185px;
}

.equator-label {
    left: 100px;
    top: 20px;
}
.equator-label.equinox-going-north {
    animation-name: equinox-going-north;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes equinox-going-north {
    from { opacity: 1; }
    12% { opacity: 1; }
    12.5% { opacity: 0; }
    87% { opacity: 0; }
    87.5% { opacity: 1; }
    to { opacity: 1; }
}
.equator-label.northern-solstice {
    animation-name: northern-solstice;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes northern-solstice {
    from { opacity: 0; }
    12% { opacity: 0; }
    12.5% { opacity: 1; }
    37% { opacity: 1; }
    37.5% { opacity: 0; }
    to { opacity: 0; }
}
.equator-label.equinox-going-south {
    animation-name: equinox-going-south;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes equinox-going-south {
    from { opacity: 0; }
    37% { opacity: 0; }
    37.5% { opacity: 1; }
    62% { opacity: 1; }
    62.5% { opacity: 0; }
    to { opacity: 0; }
}
.equator-label.southern-solstice {
    animation-name: southern-solstice;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes southern-solstice {
    from { opacity: 0; }
    62% { opacity: 0; }
    62.5% { opacity: 1; }
    87% { opacity: 1; }
    87.5% { opacity: 0; }
    to { opacity: 0; }
}

.northern-hemisphere-label.spring, .southern-hemisphere-label.fall {
    animation-name: season-0;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes season-0 {
    from { opacity: 1; }
    24.5% { opacity: 1; }
    25% { opacity: 0; }
    99.5% { opacity: 0; }
    to { opacity: 1; }
}

.northern-hemisphere-label.summer, .southern-hemisphere-label.winter {
    animation-name: season-1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes season-1 {
    from { opacity: 0; }
    24.5% { opacity: 0; }
    25% { opacity: 1; }
    49.5% { opacity: 1; }
    50% { opacity: 0; }
    to { opacity: 0; }
}

.northern-hemisphere-label.fall, .southern-hemisphere-label.spring {
    animation-name: season-2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes season-2 {
    from { opacity: 0; }
    49.5% { opacity: 0; }
    50% { opacity: 1; }
    74.5% { opacity: 1; }
    75% { opacity: 0; }
    to { opacity: 0; }
}

.northern-hemisphere-label.winter, .southern-hemisphere-label.summer {
    animation-name: season-3;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes season-3 {
    from { opacity: 0; }
    74.5% { opacity: 0; }
    75% { opacity: 1; }
    99.5% { opacity: 1; }
    to { opacity: 0; }
}

.capricorn-circle-label {
    left: 210px;
    top: 215px;
}

.southern-hemisphere-label {
    left: 290px;
    top: 245px;
}

.antarctic-circle-label {
    left: 210px;
    top: 290px;
}

.antarctic-label {
    left: 50%;
    top: 300px;
}

.moon-light {
    background-color: lightgray;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
}

.moon-dark {
    background-color: #444444;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
}

.moon-phases .stars {
    animation-name: none;
}

.moon-dark.left {
    clip-path: inset(0px 0px 0px 100px);
    animation-name: phases-dark-left;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes phases-dark-left {
    from { transform: scaleX(0); }
    75% { transform: scaleX(0); }
    to {  transform: scaleX(1);  }
}

.moon-light.left {
    clip-path: inset(0px 0px 0px 100px);
    animation-name: phases-light-left;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes phases-light-left {
    from { transform: scaleX(0); }
    25% { transform: scaleX(0); }
    50% { transform: scaleX(1); }
    to { transform: scaleX(1); }
}

.moon-dark.right {
    clip-path: inset(0px 100px 0px 0px);
    animation-name: phases-dark-right;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes phases-dark-right {
    from { transform: scaleX(1); }
    25% { transform: scaleX(0); }
    to {  transform: scaleX(0);  }
}

.moon-light.right {
    clip-path: inset(0px 100px 0px 0px);
    animation-name: phases-light-right;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes phases-light-right {
    from { transform: scaleX(1); }
    50% { transform: scaleX(1); }
    75% { transform: scaleX(0); }
    to {  transform: scaleX(0);  }
}

.label {
    position: absolute;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.moon-phases .label {
    top: 60px;
    left: 110px;
}

.label.new {
    animation-name: phase-new;
}
@keyframes phase-new {
    from { opacity: 1; }
    5.75% { opacity: 1; }
    6.25% { opacity: 0; }
    93.25% { opacity: 0; }
    93.75% { opacity: 1; }
    to { opacity: 1; }
}

.waxing-crescent {
    animation-name: waxing-crescent;
}
@keyframes waxing-crescent {
    from { opacity: 0; }
    5.75% { opacity: 0; }
    6.25% { opacity: 1; }
    18.25% { opacity: 1; }
    18.75% { opacity: 0; }
    to { opacity: 0; }
}

.first-quarter {
    animation-name: first-quarter;
}
@keyframes first-quarter {
    from { opacity: 0; }
    18.25% { opacity: 0; }
    18.75% { opacity: 1; }
    30.75% { opacity: 1; }
    31.25% { opacity: 0; }
    to { opacity: 0; }
}

.waxing-gibbous {
    animation-name: waxing-gibbous;
}
@keyframes waxing-gibbous {
    from { opacity: 0; }
    30.75% { opacity: 0; }
    31.25% { opacity: 1; }
    43.25% { opacity: 1; }
    43.75% { opacity: 0; }
    to { opacity: 0; }
}

.full {
    animation-name: full;
}
@keyframes full {
    from { opacity: 0; }
    43.25% { opacity: 0; }
    43.75% { opacity: 1; }
    55.75% { opacity: 1; }
    56.25% { opacity: 0; }
    to { opacity: 0; }
}

.waning-gibbous {
    animation-name: waning-gibbous;
}
@keyframes waning-gibbous {
    from { opacity: 0; }
    55.75% { opacity: 0; }
    56.25% { opacity: 1; }
    68.25% { opacity: 1; }
    68.75% { opacity: 0; }
    to { opacity: 0; }
}

.last-quarter {
    animation-name: last-quarter;
}
@keyframes last-quarter {
    from { opacity: 0; }
    68.25% { opacity: 0; }
    68.75% { opacity: 1; }
    80.75% { opacity: 1; }
    81.25% { opacity: 0; }
    to { opacity: 0; }
}

.waning-crescent {
    animation-name: waning-crescent;
}
@keyframes waning-crescent {
    from { opacity: 0; }
    80.75% { opacity: 0; }
    81.25% { opacity: 1; }
    93.25% { opacity: 1; }
    93.75% { opacity: 0; }
    to { opacity: 0; }
}
