@font-face {
    font-family: "source_code_pro";
    src: url("../font/SourceCodePro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "source_code_pro";
    src: url("../font/SourceCodePro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "source_code_pro";
    src: url("../font/SourceCodePro-It.otf");
    font-weight: normal;
    font-style: italic;
}
html {
    font-family: source_code_pro,monospace;
    font-size: 20px;
}
figure {
    margin: 1em 0;
    padding: 0;
}
.dark {
    background-color: black;
    color: lightgray;
}
.light {
    background-color: lightgray;
    color: black;
}

.animation-container {
    background-color: black;
    color: lightgray;
    width: 400px;
    height: 400px;
    position: relative;
    border: 1px solid gray;
    overflow: hidden;
}
.stellar-body {
    border-radius: 50%;
    position: absolute;
}
.stars .star.sun {
    background-color: white;
}
.stars .star {
    background-color: gray;
}
.sun {
    width: 20px;
    height: 20px;
    left: 93px;
    top: 273px;
}
@keyframes rotation {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}
.atmosphere {
    width: 240px;
    height: 240px;
    left: 80px;
    top: 80px;
    background-image: radial-gradient(#4444ff, #4444ff, #4444ff, transparent, transparent);
}
.earth-night {
    background-color: darkgreen;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
}
.earth-day {
    background-color: lightgreen;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
    clip-path: inset(0px 100px 0px 0px);
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.indicator {
    position: absolute;
    width: 6px;
    height: 40px;
    background-color: lightgray;
    left: 197px;
    top: 60px;
}
.shadow {
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: black;
    left: 160px;
    top: 97px;
    transform-origin: right center;
    animation-name: shadow-sweep;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes shadow-sweep {
    from { transform: rotate(180deg) scaleX(2); opacity: 0; }
    0.5% { opacity: 1; }
    25% { transform: rotate(270deg) scaleX(0.25); opacity: 1; }
    49.5% { opacity: 1; }
    50% { transform: rotate(360deg) scaleX(2); opacity: 0; }
    to { transform: rotate(180deg) scaleX(2); opacity: 0; }
}
.sunrise {
    left: 10px;
    top: 190px;
}
.morning {
    left: 25px;
    top: 75px;
}
.midday {
    left: 200px;
    top: 10px;
}
.evening {
    right: 10px;
    top: 75px;
}
.sunset {
    right: 10px;
    top: 190px;
}
.midnight {
    left: 200px;
    bottom: 10px;
}

.four-sundials {
}

.stars {
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 566px; /* 400 * sqrt(2) */
    left: -83px; /* (400 - 566) / 2 */
    position: absolute;
    top: -83px;
    transform-origin: center;
    width: 566px;
}
.four-sundials .indicator {
    position: absolute;
    background-color: lightgray;
}
.four-sundials .indicator.left {
    width: 40px;
    height: 6px;
    top: 197px;
    left: 60px;
}
.four-sundials .shadow {
    position: absolute;
    background-color: black;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /*outline: 1px solid yellow;*/
}
.four-sundials .indicator.up {
    height: 40px;
    left: 197px;
    top: 60px;
    width: 6px;
}
.four-sundials .shadow.up {
    animation-name: shadow-up;
    height: 6px;
    left: 160px;
    top: 97px;
    transform-origin: right center;
    width: 40px;
}
@keyframes shadow-up {
    from { transform: rotate(180deg) scaleX(2); opacity: 0; }
    0.5% { opacity: 1; }
    25% { transform: rotate(270deg) scaleX(0.25); }
    49.5% { opacity: 1; }
    50% { transform: rotate(360deg) scaleX(2); opacity: 0; }
    to { transform: rotate(180deg) scaleX(2); opacity: 0; }
}
.four-sundials .indicator.right {
    height: 6px;
    left: 300px;
    top: 197px;
    width: 40px;
}
.four-sundials .shadow.right {
    animation-name: shadow-right;
    height: 40px;
    left: 300px;
    top: 200px;
    transform-origin: top center;
    width: 6px;
}
@keyframes shadow-right {
    from { transform: rotate(0deg) scaleY(2); opacity: 0; }
    24.5% { opacity: 0 }
    25% { transform: rotate(0deg) scaleY(2); opacity: 1; }
    50% { transform: rotate(90deg) scaleY(0.25); }
    74.5% { opacity: 1; }
    75% { transform: rotate(180deg) scaleY(2); opacity: 0; }
    to { transform: rotate(180deg) scaleY(2); opacity: 0; }
}
.four-sundials .indicator.down {
    width: 6px;
    height: 40px;
    left: 197px;
    top: 300px;
}
.four-sundials .shadow.down {
    animation-name: shadow-down;
    height: 6px;
    left: 160px;
    top: 300px;
    transform-origin: right center;
    width: 40px;
}
@keyframes shadow-down {
    from { transform: rotate(0deg) scaleX(2); opacity: 0; }
    49.5% { opacity: 0; }
    50% { transform: rotate(0deg) scaleX(2); opacity: 1; }
    75% { transform: rotate(90deg) scaleX(0.25); }
    99.9% { opacity: 1 }
    to { transform: rotate(180deg) scaleX(2); opacity: 0; }
}
.four-sundials .indicator.left {
    width: 40px;
    height: 6px;
    top: 197px;
    left: 60px;
}
.four-sundials .shadow.left {
    animation-name: shadow-left;
    height: 40px;
    left: 97px;
    top: 160px;
    transform-origin: bottom center;
    width: 6px;
}
@keyframes shadow-left {
    from { transform: rotate(90deg) scaleY(0.25); opacity: 1; }
    24.5% { opacity: 1 }
    25% { transform: rotate(180deg) scaleY(2); opacity: 0; }
    74.5% { opacity: 0; }
    75% { transform: rotate(0deg) scaleY(2); opacity: 1; }
    to { transform: rotate(90deg) scaleY(0.25); opacity: 1; }
}

.axial-tilt .ecliptic, .major-circles .ecliptic {
    position: absolute;
    border-bottom: 1px solid gray;
    width: 100%;
    height: 50%;
}
.axial-tilt .stars, .major-circles .stars, .eye-world .stars {
    animation-name: none;
}
/*.axial-tilt .sun {*/
/*    animation-name: sun-apparent;*/
/*    animation-duration: 20s;*/
/*    animation-iteration-count: infinite;*/
/*    animation-timing-function: ease;*/
/*}*/
/*@keyframes sun-apparent {*/
/*    from { left: 93px; }*/
/*    50% { left: 453px; }*/
/*    to { left: 93px; }*/
/*}*/

.axial-tilt .earth-container, .major-circles .earth-container {
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
}

.axial-tilt .earth-container {
    animation-name: tilt-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes tilt-animation {
    from { transform: rotate(0deg) }
    25% { transform: rotate(-23.4deg) }
    50% { transform: rotate(0deg) }
    75% { transform: rotate(23.4deg) }
    to { transform: rotate(0deg) }
}

.axial-tilt .earth-night, .major-circles .earth-night {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}
.axial-tilt .earth-day, .major-circles .earth-day {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    animation-name: none;
}
.axial-tilt .earth-day {
    animation-name: anti-tilt-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes anti-tilt-animation {
    from { transform: rotate(0deg) }
    25% { transform: rotate(23.4deg) }
    50% { transform: rotate(0deg) }
    75% { transform: rotate(-23.4deg) }
    to { transform: rotate(0deg) }
}
.axial-tilt .atmosphere, .major-circles .atmosphere {
    left: -20px;
    top: -20px;
}
.major-circle {
    border-bottom: 1px solid white;
    margin-bottom: -1px;
    position: absolute;
    width: 100%;
}

.arctic-circle {
    /* 66°33′49.3″ 66.563694 degrees  1.1617556225899943 radians  sin(radians) = 0.9175027850207164  (1 - 0.9175027) * 100 = 8.24973  */
    height: 8px;
}

.tropic-of-cancer {
    /* 23.43631 degrees  0.40904077401807226 radians  sin(radians) = 0.3977294186144243  (1 - _) * 100 = 60.227  60  */
    height: 60px;
}

.equator {
    height: 100px;
}

.tropic-of-capricorn {
    height: 140px;
}

.antarctic-circle {
    height: 191px;
}

.axial-tilt .labels, .major-circles .labels {
    position: relative;
    width: 100%;
    height: 100%;
}
.axial-tilt .labels div, .major-circles .labels div {
    position: absolute;
}

.arctic-label {
    left: 50%;
    top: 75px;
}
.arctic-label.day {
    animation-name: arctic-0;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.antarctic-label.night {
    animation-name: arctic-0;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.arctic-label.night {
    animation-name: arctic-1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.antarctic-label.day {
    animation-name: arctic-1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes arctic-0 {
    from { opacity: 1; }
    49.5% { opacity: 1; }
    50% { opacity: 0; }
    99.5% { opacity: 0; }
    to { opacity: 1; }
}
@keyframes arctic-1 {
    from { opacity: 0; }
    49.5% { opacity: 0; }
    50% { opacity: 1; }
    99.5% { opacity: 1; }
    to { opacity: 0; }
}

.arctic-circle-label {
    left: 210px;
    top: 85px;
}

.cancer-circle-label {
    left: 210px;
    top: 135px;
}

.northern-hemisphere-label {
    left: 290px;
    top: 130px;
}

.equator-circle-label {
    left: 210px;
    top: 185px;
}

.equator-label {
    left: 100px;
    top: 20px;
}
.equator-label.equinox-going-north {
    animation-name: equinox-going-north;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes equinox-going-north {
    from { opacity: 1; }
    12% { opacity: 1; }
    12.5% { opacity: 0; }
    87% { opacity: 0; }
    87.5% { opacity: 1; }
    to { opacity: 1; }
}
.equator-label.northern-solstice {
    animation-name: northern-solstice;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes northern-solstice {
    from { opacity: 0; }
    12% { opacity: 0; }
    12.5% { opacity: 1; }
    37% { opacity: 1; }
    37.5% { opacity: 0; }
    to { opacity: 0; }
}
.equator-label.equinox-going-south {
    animation-name: equinox-going-south;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes equinox-going-south {
    from { opacity: 0; }
    37% { opacity: 0; }
    37.5% { opacity: 1; }
    62% { opacity: 1; }
    62.5% { opacity: 0; }
    to { opacity: 0; }
}
.equator-label.southern-solstice {
    animation-name: southern-solstice;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes southern-solstice {
    from { opacity: 0; }
    62% { opacity: 0; }
    62.5% { opacity: 1; }
    87% { opacity: 1; }
    87.5% { opacity: 0; }
    to { opacity: 0; }
}

.northern-hemisphere-label.spring, .southern-hemisphere-label.fall {
    animation-name: season-0;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes season-0 {
    from { opacity: 1; }
    24.5% { opacity: 1; }
    25% { opacity: 0; }
    99.5% { opacity: 0; }
    to { opacity: 1; }
}

.northern-hemisphere-label.summer, .southern-hemisphere-label.winter {
    animation-name: season-1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes season-1 {
    from { opacity: 0; }
    24.5% { opacity: 0; }
    25% { opacity: 1; }
    49.5% { opacity: 1; }
    50% { opacity: 0; }
    to { opacity: 0; }
}

.northern-hemisphere-label.fall, .southern-hemisphere-label.spring {
    animation-name: season-2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes season-2 {
    from { opacity: 0; }
    49.5% { opacity: 0; }
    50% { opacity: 1; }
    74.5% { opacity: 1; }
    75% { opacity: 0; }
    to { opacity: 0; }
}

.northern-hemisphere-label.winter, .southern-hemisphere-label.summer {
    animation-name: season-3;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes season-3 {
    from { opacity: 0; }
    74.5% { opacity: 0; }
    75% { opacity: 1; }
    99.5% { opacity: 1; }
    to { opacity: 0; }
}

.capricorn-circle-label {
    left: 210px;
    top: 215px;
}

.southern-hemisphere-label {
    left: 290px;
    top: 245px;
}

.antarctic-circle-label {
    left: 210px;
    top: 290px;
}

.antarctic-label {
    left: 50%;
    top: 300px;
}

.moon-light {
    background-color: lightgray;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
}

.moon-dark {
    background-color: #444444;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
}

.moon-phases .stars {
    animation-name: none;
}

.moon-dark.left {
    clip-path: inset(0px 0px 0px 100px);
    animation-name: phases-dark-left;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes phases-dark-left {
    from { transform: scaleX(0); }
    75% { transform: scaleX(0); }
    to {  transform: scaleX(1);  }
}

.moon-light.left {
    clip-path: inset(0px 0px 0px 100px);
    animation-name: phases-light-left;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes phases-light-left {
    from { transform: scaleX(0); }
    25% { transform: scaleX(0); }
    50% { transform: scaleX(1); }
    to { transform: scaleX(1); }
}

.moon-dark.right {
    clip-path: inset(0px 100px 0px 0px);
    animation-name: phases-dark-right;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes phases-dark-right {
    from { transform: scaleX(1); }
    25% { transform: scaleX(0); }
    to {  transform: scaleX(0);  }
}

.moon-light.right {
    clip-path: inset(0px 100px 0px 0px);
    animation-name: phases-light-right;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes phases-light-right {
    from { transform: scaleX(1); }
    50% { transform: scaleX(1); }
    75% { transform: scaleX(0); }
    to {  transform: scaleX(0);  }
}

.label {
    position: absolute;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.moon-phases .label {
    top: 60px;
    left: 110px;
}

.label.new {
    animation-name: phase-new;
}
@keyframes phase-new {
    from { opacity: 1; }
    5.75% { opacity: 1; }
    6.25% { opacity: 0; }
    93.25% { opacity: 0; }
    93.75% { opacity: 1; }
    to { opacity: 1; }
}

.waxing-crescent {
    animation-name: waxing-crescent;
}
@keyframes waxing-crescent {
    from { opacity: 0; }
    5.75% { opacity: 0; }
    6.25% { opacity: 1; }
    18.25% { opacity: 1; }
    18.75% { opacity: 0; }
    to { opacity: 0; }
}

.first-quarter {
    animation-name: first-quarter;
}
@keyframes first-quarter {
    from { opacity: 0; }
    18.25% { opacity: 0; }
    18.75% { opacity: 1; }
    30.75% { opacity: 1; }
    31.25% { opacity: 0; }
    to { opacity: 0; }
}

.waxing-gibbous {
    animation-name: waxing-gibbous;
}
@keyframes waxing-gibbous {
    from { opacity: 0; }
    30.75% { opacity: 0; }
    31.25% { opacity: 1; }
    43.25% { opacity: 1; }
    43.75% { opacity: 0; }
    to { opacity: 0; }
}

.full {
    animation-name: full;
}
@keyframes full {
    from { opacity: 0; }
    43.25% { opacity: 0; }
    43.75% { opacity: 1; }
    55.75% { opacity: 1; }
    56.25% { opacity: 0; }
    to { opacity: 0; }
}

.waning-gibbous {
    animation-name: waning-gibbous;
}
@keyframes waning-gibbous {
    from { opacity: 0; }
    55.75% { opacity: 0; }
    56.25% { opacity: 1; }
    68.25% { opacity: 1; }
    68.75% { opacity: 0; }
    to { opacity: 0; }
}

.last-quarter {
    animation-name: last-quarter;
}
@keyframes last-quarter {
    from { opacity: 0; }
    68.25% { opacity: 0; }
    68.75% { opacity: 1; }
    80.75% { opacity: 1; }
    81.25% { opacity: 0; }
    to { opacity: 0; }
}

.waning-crescent {
    animation-name: waning-crescent;
}
@keyframes waning-crescent {
    from { opacity: 0; }
    80.75% { opacity: 0; }
    81.25% { opacity: 1; }
    93.25% { opacity: 1; }
    93.75% { opacity: 0; }
    to { opacity: 0; }
}

.earth-rotation .stars, .earth-rotation .earth-day {
    animation-name: none;
}

/* background grid based on https://projects.verou.me/css3patterns/#blueprint-grid */
.earth-rotation .position-container {
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
    overflow: hidden;
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px); background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px; background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

/*.earth-rotation .position-indicator {*/
/*    background-color: white;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    position: absolute;*/
/*    top: 85px;*/
/*    left: -15px;*/
/*    transform: rotate(45deg);*/
/*}*/

.earth-revolution .stars {
    animation-name: none;
}

.earth-revolution .sun {
    width: 20px;
    height: 20px;
    left: 190px;
    top: 190px;
    background-color: white;
}
.earth-revolution .earth-orbit {
    position: absolute;
    border: 2px dashed gray;
    left: 60px;
    top: 60px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
}
.earth-revolution .earth-orbit-container {
    position: absolute;
    left: 60px;
    top: 60px;
    width: 280px;
    height: 280px;
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.earth-revolution .earth-container {
    width: 80px;
    height: 80px;
    left: -40px;
    top: 100px;
    animation-name: anti-tilt-rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.earth-revolution .atmosphere {
    width: 100px;
    height: 100px;
    left: -10px;
    top: -10px;
    background-image: radial-gradient(#4444ff, #4444ff, #4444ff, transparent, transparent);
    position: absolute;
}
.earth-revolution .earth-night {
    width: 100%;
    height: 100%;
    background-color: darkgreen;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}
.earth-revolution .earth-day {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    animation-name: none;
    clip-path: inset(0px 0px 0px 40px);
}

.timezone-container {
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
}

.timezone-container .timezone {
    border-bottom: 1px solid white;
    margin-bottom: -1px;
    top: 100px;
    position: absolute;
    width: 100%;
}

.timezone.prime {
    top: 99px;
    border-bottom: 4px solid white;
}
.timezone.one {
    transform: rotate(7.5deg);
}
.timezone.two {
    transform: rotate(22.5deg);
}
.timezone.three {
    transform: rotate(37.5deg);
}
.timezone.four {
    transform: rotate(52.5deg);
}
.timezone.five {
    transform: rotate(67.5deg);
}
.timezone.six {
    transform: rotate(82.5deg);
}
.timezone.seven {
    transform: rotate(97.5deg);
}
.timezone.eight {
    transform: rotate(112.5deg);
}
.timezone.nine {
    transform: rotate(127.5deg);
}
.timezone.ten {
    transform: rotate(142.5deg);
}
.timezone.eleven {
    transform: rotate(157.5deg);
}
.timezone.twelve {
    transform: rotate(172.5deg);
}

.time-labels {
    animation-name: twentyfour-stop-rotation;
    animation-duration: 40s;
    animation-delay: -0.9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
}
.time-labels .label {
    position: absolute;
    animation-name: twentyfour-anti-rotation;
    animation-duration: 40s;
    animation-delay: -0.9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.timezones .earth-day, .timezones .stars {
    /*animation-name: none;*/
    animation-duration: 40s;
}

.time-labels .label.zero {
    left: 214px;
    top: 87px;
}
.time-labels .label.one {
    left: 210px;
    top: 55px;
}
.time-labels .label.two {
    left: 200px;
    top: 25px;
}
.time-labels .label.three {
    left: 178px;
    top: 0;
}
.time-labels .label.four {
    left: 153px;
    top: -18px;
}
.time-labels .label.five {
    left: 125px;
    top: -28px;
}
.time-labels .label.six {
    left: 95px;
    top: -30px;
}
.time-labels .label.seven {
    left: 65px;
    top: -28px;
}
.time-labels .label.eight {
    left: 37px;
    top: -18px;
}
.time-labels .label.nine {
    left: 12px;
    top: 0;
}
.time-labels .label.ten {
    left: -18px;
    top: 25px;
}
.time-labels .label.eleven {
    left: -28px;
    top: 55px;
}
.time-labels .label.twelve {
    left: -30px;
    top: 87px;
}
.time-labels .label.thirteen {
    left: -28px;
    top: 119px;
}
.time-labels .label.fourteen {
    left: -18px;
    top: 147px;
}
.time-labels .label.fifteen {
    left: 0;
    top: 172px;
}
.time-labels .label.sixteen {
    left: 27px;
    top: 190px;
}
.time-labels .label.seventeen {
    left: 56px;
    top: 200px;
}
.time-labels .label.eighteen {
    left: 87px;
    top: 204px;
}
.time-labels .label.nineteen {
    left: 119px;
    top: 200px;
}
.time-labels .label.twenty {
    left: 149px;
    top: 191px;
}
.time-labels .label.twentyone {
    left: 173px;
    top: 173px;
}
.time-labels .label.twentytwo {
    left: 195px;
    top: 146px;
}
.time-labels .label.twentythree {
    left: 210px;
    top: 119px;
}

@keyframes twentyfour-stop-rotation {
    from { transform: rotate(0deg) }
    4.169% { transform: rotate(0deg) }
    4.17% { transform: rotate(15deg) }
    8.329% { transform: rotate(15deg) }
    8.33% { transform: rotate(30deg) }
    12.499% { transform: rotate(30deg) }
    12.5% { transform: rotate(45deg) }
    16.669% { transform: rotate(45deg) }
    16.67% { transform: rotate(60deg) }
    20.829% { transform: rotate(60deg) }
    20.83% { transform: rotate(75deg) }
    24.999% { transform: rotate(75deg) }
    25% { transform: rotate(90deg) }
    29.169% { transform: rotate(90deg) }
    29.17% { transform: rotate(105deg) }
    33.329% { transform: rotate(105deg) }
    33.33% { transform: rotate(120deg) }
    37.499% { transform: rotate(120deg) }
    37.5% { transform: rotate(135deg) }
    41.669% { transform: rotate(135deg) }
    41.67% { transform: rotate(150deg) }
    45.829% { transform: rotate(150deg) }
    45.83% { transform: rotate(165deg) }
    49.999% { transform: rotate(165deg) }
    50% { transform: rotate(180deg) }
    54.169% { transform: rotate(180deg) }
    54.17% { transform: rotate(195deg) }
    58.329% { transform: rotate(195deg) }
    58.33% { transform: rotate(210deg) }
    62.499% { transform: rotate(210deg) }
    62.5% { transform: rotate(225deg) }
    66.669% { transform: rotate(225deg) }
    66.67% { transform: rotate(240deg) }
    70.829% { transform: rotate(240deg) }
    70.83% { transform: rotate(255deg) }
    74.999% { transform: rotate(255deg) }
    75% { transform: rotate(270deg) }
    79.169% { transform: rotate(270deg) }
    79.17% { transform: rotate(285deg) }
    83.329% { transform: rotate(285deg) }
    83.33% { transform: rotate(300deg) }
    87.499% { transform: rotate(300deg) }
    87.5% { transform: rotate(315deg) }
    91.669% { transform: rotate(315deg) }
    91.67% { transform: rotate(330deg) }
    95.829% { transform: rotate(330deg) }
    95.83% { transform: rotate(345deg) }
    99.999% { transform: rotate(345deg) }
    to { transform: rotate(360deg) }
}

@keyframes twentyfour-anti-rotation {
    from { transform: rotate(0deg) }
    4.169% { transform: rotate(0deg) }
    4.17% { transform: rotate(-15deg) }
    8.329% { transform: rotate(-15deg) }
    8.33% { transform: rotate(-30deg) }
    12.499% { transform: rotate(-30deg) }
    12.5% { transform: rotate(-45deg) }
    16.669% { transform: rotate(-45deg) }
    16.67% { transform: rotate(-60deg) }
    20.829% { transform: rotate(-60deg) }
    20.83% { transform: rotate(-75deg) }
    24.999% { transform: rotate(-75deg) }
    25% { transform: rotate(-90deg) }
    29.169% { transform: rotate(-90deg) }
    29.17% { transform: rotate(-105deg) }
    33.329% { transform: rotate(-105deg) }
    33.33% { transform: rotate(-120deg) }
    37.499% { transform: rotate(-120deg) }
    37.5% { transform: rotate(-135deg) }
    41.669% { transform: rotate(-135deg) }
    41.67% { transform: rotate(-150deg) }
    45.829% { transform: rotate(-150deg) }
    45.83% { transform: rotate(-165deg) }
    49.999% { transform: rotate(-165deg) }
    50% { transform: rotate(-180deg) }
    54.169% { transform: rotate(-180deg) }
    54.17% { transform: rotate(-195deg) }
    58.329% { transform: rotate(-195deg) }
    58.33% { transform: rotate(-210deg) }
    62.499% { transform: rotate(-210deg) }
    62.5% { transform: rotate(-225deg) }
    66.669% { transform: rotate(-225deg) }
    66.67% { transform: rotate(-240deg) }
    70.829% { transform: rotate(-240deg) }
    70.83% { transform: rotate(-255deg) }
    74.999% { transform: rotate(-255deg) }
    75% { transform: rotate(-270deg) }
    79.169% { transform: rotate(-270deg) }
    79.17% { transform: rotate(-285deg) }
    83.329% { transform: rotate(-285deg) }
    83.33% { transform: rotate(-300deg) }
    87.499% { transform: rotate(-300deg) }
    87.5% { transform: rotate(-315deg) }
    91.669% { transform: rotate(-315deg) }
    91.67% { transform: rotate(-330deg) }
    95.829% { transform: rotate(-330deg) }
    95.83% { transform: rotate(-345deg) }
    99.999% { transform: rotate(-345deg) }
    to { transform: rotate(-360deg) }
}

.where-are-we .stars {
    animation-name: none;
    left: 0;
    top: 0;
}

.where-are-we .view-container {
    position: absolute;
    width: 566px;
    height: 566px;
    left: -83px;
    top: -83px;
    animation-name: ship-motion;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}

@keyframes ship-motion {
    from { transform: translateY(0px) rotate(0) }
    50% { transform: translateY(15px) rotate(2deg) }
    to { transform: translateY(0px) rotate(0) }
}

.label.where-are-we {
    left: 190px;
    top: 250px;
    animation-name: where-are-we;
    animation-duration: 13s;
    animation-iteration-count: infinite;
}

@keyframes where-are-we {
    from { opacity: 0 }
    28% { opacity: 0 }
    30% { opacity: 1 }
    60% { opacity: 0 }
    to { opacity: 0 }
}

.where-are-we .sky {
    background: linear-gradient(black, #000050);
    width: 100%;
    height: 50%;
    outline: 1px solid white;
}

.where-are-we .ocean {
    width: 100%;
    height: 50%;
    top: 50%;
    background: linear-gradient(#0a1a20, #0a204a);
    position: absolute;
    outline: 1px solid black;
}

.where-are-we .ocean .wave {
    width: 100%;
    left: 0;
    position: absolute;

    /* from https://css-tricks.com/how-to-create-wavy-shapes-patterns-in-css/ */
    --size: 30px;
    --R: calc(var(--size)*1.28);
    -webkit-mask:
            radial-gradient(var(--R) at 50% calc(1.8*var(--size)),#000 99%,#0000 101%)
            calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
            radial-gradient(var(--R) at 50% calc(-.8*var(--size)),#0000 99%,#000 101%)
            50% var(--size)/calc(4*var(--size)) 100% repeat-x;
    mask:
            radial-gradient(var(--R) at 50% calc(1.8*var(--size)),#000 99%,#0000 101%)
            calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
            radial-gradient(var(--R) at 50% calc(-.8*var(--size)),#0000 99%,#000 101%)
            50% var(--size)/calc(4*var(--size)) 100% repeat-x;
    background: linear-gradient(black,navy);
    height: 60px;
    animation-name: wave-motion0;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    opacity: 50%;
}

.where-are-we .ocean .wave0 {
    top: 10px;
    --size: 14px;
    background: linear-gradient(#0a1a40,#0a1a20);
}

.where-are-we .ocean .wave1 {
    top: 35px;
    --size: 17px;
    animation-delay: -1s;
    animation-name: wave-motion1;
    background: linear-gradient(#0a2060,#0a1a20);
    left: -50px;
}

.where-are-we .ocean .wave2 {
    top: 60px;
    --size: 20px;
    animation-delay: -3s;
    left: 10px;
    background: linear-gradient(#0a2a80,#0a1a20);
}

.where-are-we .ocean .wave3 {
    top: 90px;
    --size: 23px;
    animation-delay: 0s;
    animation-name: wave-motion1;
    left: -55px;
    background: linear-gradient(#0a2aa0,#0a1a20);
}

.where-are-we .ocean .wave4 {
    top: 120px;
    --size: 26px;
    animation-delay: -1s;
    left: 15px;
    background: linear-gradient(#0a2ac0,#0a1a20);
}

.where-are-we .railing {
    width: 100%;
    height: 20px;
    background: linear-gradient(90deg,#221100,#442200,#221100);
    position:absolute;
    top: 380px;
}

@keyframes wave-motion0 {
    from { transform: translateY(0px) rotate(0) }
    50% { transform: translateY(15px) rotate(2deg) }
    to { transform: translateY(0px) }
}

@keyframes wave-motion1 {
    from { transform: translateY(0px) rotate(0) }
    50% { transform: translateY(15px) rotate(-2deg) }
    to { transform: translateY(0px) }
}

.naive-clocks-no-timezones {
    display: none;
}

.clock {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 3px solid black;
    background-color: white;
    position: absolute;
    left: 150px;
    top: 50px;
}

.twelve-hour-clock .clock {
    rotate: 180deg;
}

.clock.right {
    left: 250px;
    top: 150px;
}

.twenty-four-hour-clocks .clock.right, .naive-clocks-no-timezones .clock.right {
    rotate: 90deg;
}

.clock.bottom {
    top: 250px;
}

.twenty-four-hour-clocks .clock.bottom, .naive-clocks-no-timezones .clock.bottom {
    rotate: 180deg;
}

.clock.left {
    left: 50px;
    top: 150px;
}

.twenty-four-hour-clocks .clock.left, .naive-clocks-no-timezones .clock.left {
    rotate: 270deg;
}

.clock-indicator {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: red;
    rotate: 45deg;
    left: 45px;
    top: 95px;
}

.hand-hours {
    width: 4px;
    height: 48px;
    position: absolute;
    background-color: black;
    left: 48px;
    top: 2px;
    border-radius: 2px;
    animation-name: rotation;
    animation-duration: 20s;
    animation-delay: -15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: bottom;
}

.twenty-four-hour-clocks .clock.right .hand-hours {
    animation-delay: -10s;
}

.twenty-four-hour-clocks .clock.bottom .hand-hours {
    animation-delay: -5s;
}

.twenty-four-hour-clocks .clock.left .hand-hours {
    animation-delay: 0s;
}

.hand-hours.twelve {
    animation-duration: 10s;
    animation-delay: -10s;
}

.twinkle {
    animation-name: twinkle;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes twinkle {
    from { background-color: gray }
    75% { background-color: white }
    to { background-color: gray }
}

.eye-ball {
    /*background-color: white;*/
    background: radial-gradient(circle at 100px 100px, white, #aaa);
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
}

.iris {
    background-color: darkgreen;
    width: 100px;
    height: 100px;
    left: 150px;
    top: 150px;
}

.eye-world .atmosphere {
    width: 140px;
    height: 140px;
    left: 130px;
    top: 130px;
}

.pupil {
    background-color: black;
    width: 50px;
    height: 50px;
    left: 175px;
    top: 175px;
    overflow: hidden;
}

.lid {
    position: absolute;
    width: 350px;
    height: 200px;
    left: 25px;
    top: 100px;
    background-color: #444444a0;
    border-radius: 50%;
    outline: 4px solid #333333a0;
}

.eye-world .time-scale {
    width: 4000px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 400px;
    animation-name: time-scale;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes time-scale {
    from { left: 400px; }
    to { left: -3600px; }
}

.time-scale .hour {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: gray;
}

.hour.zero {
    left: 1600px;
}

.hour.one {
    left: 2000px;
}

.hour.two {
    left: 2400px;
}

.hour.three {
    left: 2800px;
}

.hour.four {
    left: 3200px;
}

.hour.five {
    left: 3600px;
}

.hour.six {
    left: 0;
}

.hour.seven {
    left: 400px;
}

.hour.eight {
    left: 800px;
}

.hour.nine {
    left: 1200px;
}

.time-scale .hour.day {
    width: 4px;
    background-color: red;
}
