.major-circles .ecliptic {
    position: absolute;
    border-bottom: 1px solid gray;
    width: 100%;
    height: 50%;
}
.major-circles .earth-container {
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
}
.major-circles .earth-night {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}
.major-circles .earth-day {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.major-circles .atmosphere {
    left: -20px;
    top: -20px;
}

.major-circles .major-circle {
    border-bottom: 1px solid white;
    margin-bottom: -1px;
    position: absolute;
    width: 100%;
}
.major-circles .arctic-circle {
    /* 66°33′49.3″ 66.563694 degrees  1.1617556225899943 radians  sin(radians) = 0.9175027850207164  (1 - 0.9175027) * 100 = 8.24973  */
    height: 8px;
}
.major-circles .tropic-of-cancer {
    /* 23.43631 degrees  0.40904077401807226 radians  sin(radians) = 0.3977294186144243  (1 - _) * 100 = 60.227  60  */
    height: 60px;
}
.major-circles .equator {
    height: 100px;
}
.major-circles .tropic-of-capricorn {
    height: 140px;
}
.major-circles .antarctic-circle {
    height: 191px;
}

.major-circles .labels {
    position: relative;
    width: 100%;
    height: 100%;
}
.major-circles .labels div {
    position: absolute;
    left: 210px;
}

.major-circles .north-pole-label {
    top: 55px;
}

.major-circles .arctic-circle-label {
    top: 85px;
}

.major-circles .cancer-circle-label {
    top: 135px;
}
.major-circles .equator-circle-label {
    top: 185px;
}
.major-circles .capricorn-circle-label {
    top: 215px;
}
.major-circles .antarctic-circle-label {
    top: 290px;
}
.major-circles .south-pole-label {
    top: 345px;
}
