.twenty-four-hour-clocks .stars, .twenty-four-hour-clocks .earth-day {
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.twenty-four-hour-clocks .clock.right {
    left: 250px;
    top: 150px;
    rotate: 90deg;
}
.twenty-four-hour-clocks .clock.bottom {
    top: 250px;
    rotate: 180deg;
}
.twenty-four-hour-clocks .clock.left {
    left: 50px;
    top: 150px;
    rotate: 270deg;
}

.twenty-four-hour-clocks .clock.right .hand-hours {
    animation-delay: -10s;
}

.twenty-four-hour-clocks .clock.bottom .hand-hours {
    animation-delay: -5s;
}

.twenty-four-hour-clocks .clock.left .hand-hours {
    animation-delay: 0s;
}
